<h1>Sign Up Below:</h1>
<form method='post' action='/registrations' id=form1>
<label for="name">Name:</label>
<input type='text' name='name' id='name'>
<label for='email'>Email:</label>
<input type='text' name='email' id='email'>
<label for='pass'>Password:</label>
<input type='text' name='password' id='pass'>
</form>
<button type='submit' value='submit' form='form1'>Sign Up</button>

